@import '../../variables';

.blogs {
    padding: 80px;
  
    .container {
      display: grid;
      grid-template-columns: 21% 21% 21% 21%;
      gap: 20px;
      row-gap: 20px;
  
      a {
        .blog {
          background-color: $whitesmoke;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 15px;
  
          img {
            border-radius: $border-radius;
          }
  
          .blog-summary {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
  
            .title {
              font-weight: bold;
              font-size: 18px;
            }
          }
        }
      }
    }
  }