
.page-intro{
    background: linear-gradient(127.31deg, rgba(0, 0, 0, 0.68) 44.53%, rgba(0, 0, 0, 0) 83.52%),
    url('/static/img/accounting.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.page-intro{
       
    .container{
  
        .page-summary{
            width: 50%;
            
        }
    }
}

@media screen and (max-width:1200px){
    .page-intro{
       
        .container{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@media screen and (max-width:540px) {
    .page-intro{
       
        .container{
            padding-left: 30px;
            padding-right: 30px;
            .page-summary{
                width: 100%;
                
            }
        }
    }
}

