
.page-intro{
    background: linear-gradient(127.31deg, rgba(0, 0, 0, 0.68) 44.53%, rgba(0, 0, 0, 0) 83.52%),
    url('/static/img/bg-image.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@media screen and (max-width:540px) {
    .page-intro{
       
        .container{
            padding-left: 30px;
            padding-right: 30px;
            .page-summary{
                width: 100%;
            }
        }
    }
}

