{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'navbar.html' %}
<section class="page-intro">
    <div class="container">
        <div class="breadchrums">
            <a href="/index.html"><i class="fas fa-angle-left"></i><span class="prev-page">Home</span></a>/<span
                class="current-page">About Us</span>
        </div>
        <h1 class="heading">About The Company</h1>
        <div class="page-summary">
            <p>We are your trusted of work force for your daily business tasks.</p>
            <p>We understand the importance of delivering 24/7 business operations to meet your business requirements.
                We aim to serve you with the best.</p>
        </div>
    </div>
</section>

<!-- description -->
<section class="description">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Who we are?</h1>
                <p>We are a local outsourcing firm, started in 2021 with the aim to save companies from bankrupts by
                    providing unique and
                    quick services in comprehensive solutions ranging from Bookkeeping and Outsourcing of Staff,
                    Financial Analysis, Data
                    Entry Services, Payroll Management and Funding, Audits and Monthly Reports, Taxation Advisory,
                    Compliance and all your
                    Advisory requirements.</p>
                <p>For the love of our clients, we also go beyond and above by providing Digital Marketing Management,
                    Web design and
                    development.</p>
            </div>
            <div class="col col-description">
                <img src="{% static '/img/csr-images/description-img.png' %}" alt="" class="description-img">
            </div>
        </div>
    </div>
</section>

<!-- mission/vision -->
<section class="mission">
    <div class="container">
        <div class="col">
            <!-- our mission -->
            <div class="row">
                <img src="{% static '/img/icons/mission.svg' %}" alt="mission" class="icon">
                <h2>Mission</h2>
                <p>Our mission is to ensure the total satisfaction and future success of all our stakeholders. We are
                    dedicated to creating
                    a future profession through entry-level jobs for the graduates in Rwanda which will enable them to
                    serve the global
                    business world. We are committed to developing future employees for the local and global market.</p>
            </div>
            <!-- our vision -->
            <div class="row">
                <img src="{% static '/img/icons/eye.svg' %}" alt="vision" class="icon">
                <h2>Vision</h2>
                <p>To become the leading outsourcing company and leading Business Solutions Provider in Africa and the
                    world at large.</p>
            </div>
            <!-- our values -->
            <div class="row">
                <img src="{% static '/img/icons/user.svg' %}" alt="values" class="icon">
                <h2>Values</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- team -->
<section class="our-team">
    <div class="container">
        <h1>our team</h1>
        <p>People behind the good and amazing services that we give to clients.</p>
        <div class="row">
            <div class="col profile">
                <div class="profile-pic-and-title">
                    <img src="{% static '/img/csr-images/profile-img.png' %}" alt="profile">
                    <div class="name-position">
                        <h3>Godwin Feh</h3>
                        <h4>Founder&CEO</h4>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita doloribus asperiores officia.
                </p>
            </div>
            <div class="col profile">
                <div class="profile-pic-and-title">
                    <img src="{% static '/img/csr-images/profile-img.png' %}" alt="profile">
                    <div class="name-position">
                        <h3>Godwin Feh</h3>
                        <h4>Founder&CEO</h4>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita doloribus asperiores officia.
                </p>
            </div>
            <div class="col profile">
                <div class="profile-pic-and-title">
                    <img src="{% static '/img/csr-images/profile-img.png' %}" alt="profile">
                    <div class="name-position">
                        <h3>Jean Paul</h3>
                        <h4>Chief Finance Officer</h4>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita doloribus asperiores officia.
                </p>
            </div>
            <div class="col profile">
                <div class="profile-pic-and-title">
                    <img src="{% static '/img/csr-images/profile-img.png' %}" alt="profile">
                    <div class="name-position">
                        <h3>Software HOD</h3>
                        <h4>Chief Finance Officer</h4>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita doloribus asperiores officia.
                </p>
            </div>
            <div class="col profile">
                <div class="profile-pic-and-title">
                    <img src="{% static '/img/csr-images/profile-img.png' %}" alt="profile">
                    <div class="name-position">
                        <h3>Patient Karenzi</h3>
                        <h4>Administrator</h4>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita doloribus asperiores officia.
                </p>
            </div>
            <div class="col profile">
                <div class="profile-pic-and-title">
                    <img src="{% static '/img/csr-images/profile-img.png' %}" alt="profile">
                    <div class="name-position">
                        <h3>Tinah</h3>
                        <h4>Social Media</h4>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita doloribus asperiores officia.
                </p>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

<!-- footer -->
{% include 'footer.html' %}

{% endblock %}