<section class="page-intro" style="background: linear-gradient(127.31deg, rgba(0, 0, 0, 0.68) 44.53%, rgba(0, 0, 0, 0) 83.52%),
url('/static/img/bg-image.avif');background-repeat: no-repeat;
  background-size: cover;
  background-position: center;">
    <div class="container">
        <div class="breadchrums ">
            <a href="/index.html"><i class="fas fa-angle-left"></i><span class="prev-page">Home</span></a>/<span
                class="current-page">{{page}}</span>
        </div>
        <h1 class="heading">{{title}}</h1>
        <div class="page-summary">
            
            <p>{{description}}</p>
        </div>
        <button class="btn-blue hero-btn1" style="width: fit-content;">Get a quotation</button>
    </div>
</section>