{% extends 'base.html' %}
{% load static %}

{% block pageLinks %}
<link rel="stylesheet" href="{% static '/css/pages/application-form/application-form.css' %}">
{% endblock pageLinks %}


{% block content %}

<section class="application">
    <div class="container">
        <div class="row">
            <div class="col col-left">
                <img src="{% static '/img/logo-white 1.png' %}" alt="">
                <img src="{% static '/img/Business is growing.png' %}" alt="" class="img2">
            </div>
            <div class="col-form">

                <div class="form-container">


                    <form class="form" id="form2" method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="general">
                            <h1>General Information</h1>
                            <div class="names">

                                {{form.firstName}}
                                {{form.lastName}}
                            </div>

                            {{form.idOrPassport}}
                            <div class="names">

                                {{form.email}}
                                {{form.telephone}}
                            </div>

                            {{form.dateOfBirth}}
                            {{form.gender}}

                            <button id="btnGeneral">Next</button>
                        </div>
                        <div id="documents">
                            <h1>Applicant Documents</h1> 

                            {{form.cv}}
                            {{form.nationalIdOrPassport}}
                            {{form.workCertificate}}
                            <button id="btnDocuments">Next</button>
                        </div>

                        <div id="reference">
                            <h1>References</h1>
                            {{form.refereeName}}
                            {{form.refereeAddress}}
                            {{form.refereeTelephone}}
                            {{form.refereeInstitution}}
                            {{form.refereeOccupation}}
    
                            <button type="submit" id="btnFinish">Finish</button> 
                        </div>
                
                </form>

            </div>
        </div>
    </div>
    </div>

</section>

<script src="{% static '/js/application.js' %}"></script>

{% endblock content %}