{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3SZWGNQ4FC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3SZWGNQ4FC');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>{{page_title}} | CSR Limited</title>
    <meta name="title" content="{{page_title}} — Comprehensive Staffing Recources">
    <meta name="description"
        content="We provide unique and quick Accounting & Finance, Software Dev & Design, and Social Media Management services">

    <meta name="robots" content="index, follow">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://crlimited.rw/">
    <meta property="og:title" content="{{page_title}} — Comprehensive Staffing Recources">
    <meta property="og:description"
        content="We provide unique and quick Accounting & Finance, Software Dev & Design, and Social Media Management.">
    <meta property="og:image" content="{% static '/img/office.jpg' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://csrlimited.rw/">
    <meta property="twitter:title" content="{{page_title}} — Comprehensive Staffing Recources">
    <meta property="twitter:description"
        content="We provide unique and quick Accounting & Finance, Software Dev & Design, and Social Media Management.">
    <meta property="twitter:image" content="{% static '/img/office.jpg' %}">

    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/mobile.css' %}">
    <link rel="stylesheet" href="{% static '/css/mobileFixed.css' %}">

    <script src="https://kit.fontawesome.com/54c10e37be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

    <link rel="icon" type="image/x-icon" href="{% static '/img/csr logo.svg' %}">
    {% block pageLinks %}
        <!-- <link rel="stylesheet" href=""> -->
    {% endblock pageLinks %}


    <!--Google tag manager-->

    <meta name="google-site-verification" content="0vpX2QksWPZAY1g2kZuiIB_KXU-wBzWVTnB1LhqGzh0" />



</head>

<body>
    {% block content %}
    {% endblock %}
    <script src="{% static '/js/nav.js' %}"></script>
</body>

</html>