{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/mobile.css' %}">

    <script src="https://kit.fontawesome.com/54c10e37be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

    <link rel="icon" type="image/x-icon" href="{% static '/img/csr logo.svg' %}">
    <title>{{page_title}} | CSR Limited</title>

    {% block title %}
    <title>Title</title>
    {% endblock title %}

</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static '/js/nav.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>