{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'navbar.html' %}
<section class="page-intro">
    <div class="container">
        <div class="breadchrums">
            <a href="/index.html"><i class="fas fa-angle-left"></i><span class="prev-page">Home</span></a>/<span
                class="current-page">Our blog</span>
        </div>
        <h1 class="heading"> Checkout our blog</h1>
        <div class="page-summary">
            <p>We are your trusted of work force for your daily business tasks.</p>
            <p>We understand the importance of delivering 24/7 business operations to meet your business requirements.
                We aim to serve you with the best.</p>
        </div>
    </div>
</section>
<section class="blogs">
    <div class="container">
        <a href="/single-blog.html">
            <div class="blog">
                <img src="{% static '/img/Data entry service.webp' %}" alt="">
                <div class="blog-summary">
                    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna.
                    </p>
                </div>
            </div>
        </a>

        <a href="/single-blog.html">
            <div class="blog">
                <img src="{% static '/img/Data entry service.webp' %}" alt="">
                <div class="blog-summary">
                    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna.
                    </p>
                </div>
            </div>
        </a>
        <a href="/single-blog.html">
            <div class="blog">
                <img src="{% static '/img/Data entry service.webp' %}" alt="">
                <div class="blog-summary">
                    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna.
                    </p>
                </div>
            </div>
        </a>
        <a href="/single-blog.html">
            <div class="blog">
                <img src="{% static '/img/Data entry service.webp' %}" alt="">
                <div class="blog-summary">
                    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna.
                    </p>
                </div>
            </div>
        </a>
        <a href="/single-blog.html">
            <div class="blog">
                <img src="{% static '/img/Data entry service.webp' %}" alt="">
                <div class="blog-summary">
                    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna.
                    </p>
                </div>
            </div>
        </a>
        <a href="/single-blog.html">
            <div class="blog">
                <img src="{% static '/img/Data entry service.webp' %}" alt="">
                <div class="blog-summary">
                    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna.
                    </p>
                </div>
            </div>
        </a>
        <a href="/single-blog.html">
            <div class="blog">
                <img src="{% static '/img/Data entry service.webp' %}" alt="">
                <div class="blog-summary">
                    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna.
                    </p>
                </div>
            </div>
        </a>


    </div>
</section>

{% include 'footer.html' %}

{% endblock %}