{% extends 'base.html' %}
{% load static %}

{% block pageLinks %}
<link rel="stylesheet" href="{% static '/css/pages/blog/blog.css' %}">
<link rel="stylesheet" href="{% static '/css/pages/blog/mobile.css' %}">
{% endblock pageLinks %}

{% block title %}

    <title>CSR | Blog</title>

{% endblock title %}
{% block content %}

{% include 'navbar.html' %}

<section class="page-intro">
    <div class="container">
        <div class="breadchrums">
            <a href="/index.html"><i class="fas fa-angle-left"></i><span class="prev-page">Home</span></a>/<span
                class="current-page">Our blog</span>
        </div>
        <h1    h1 class="heading"> Checkout our blog</h1>
        <div class="page-summary">
            <p>We are your trusted of work force for your daily business tasks.</p>
            <p>We understand the importance of delivering 24/7 business operations to meet your business
                requirements.
                We aim to serve you with the best.</p>
        </div>
    </div>
</section>

<section class="blogs">
    <div class="container">
        {% for blog in blogs %}
        <a href="{% url 'blog' blog.slug %}">
            <div class="blog">
                <img src="{{ blog.featured_image.url }}" alt="{{blog.title}}">
                
                <div class="blog-summary">
                    <h3 class="title">{{blog.title}}</h3>
                    <div class="title-link">
                        <div class="meta">
                            <i class="fa fa-user-o" aria-hidden="true"></i> <span>{{blog.author}}</span>
                        </div>
                        
                        <div class="meta">
                            <i class="fa fa-list" aria-hidden="true"></i> <span>{{blog.category}}</span>
                        </div>
                        
                        <div class="meta">
                            <i class="fa fa-calendar" aria-hidden="true"></i> <span>{{blog.date_created | date}}</span>
                        </div>
                    </div>
                    <p>
                       {{blog.blog_summary | safe}}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</section>

{% include 'footer.html' %}


<script>
    let blog = document.querySelectorAll('blog-left')
</script>

<script src="{% static '/js/nav.js' %}"></script>
<script src="{% static '/js/blog.js' %}"></script>

{% endblock %}