{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="dev">
    <div class="container dev-container">
        <div class="row">
            <div class="col col-1">
                <div class="title">
                    <img src="{% static '/img/logo.svg' %}" alt="" class="logo">
                    <h1>comprehensive <br> staffing resources Ltd(CSR)</h1>
                </div>
            </div>
            <div class="col col-2">
                <h1>coming soon</h1>
                <p>Our developers are working on this page currently, and it will be published soon. We understand
                    that you may need services related to this page. If so, use this form below to communicate with
                    us. Our team will be in touch with you as soon as possible</p>
                <div class="contacts">
                    <!-- email -->
                    <div class="col-contacts">
                        <img src="{% static '/img/icons/envelope.svg' %}" alt="" class="icon">
                        <a href="info@csrlimited.com">info@csrlimited.com</a>
                    </div>
                    <!-- phone -->
                    <div class="col-contacts">
                        <img src="{%static '/img/icons/phone.svg' %}" alt="" class="icon">
                        <a href="info@csrlimited.com">+250791902159</a>
                    </div>
                </div>
                <!-- social media -->
                <div class="social-media">
                    <!-- facebook -->
                    <div class="icon">
                        <a href="https://www.facebook.com/profile.php?id=100086812094253&mibextid=LQQJ4d">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- instagram -->
                    <div class="icon">
                        <a href="https://www.instagram.com/csr.rw/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- youtube -->
                    <div class="icon">
                        <a href="https://www.youtube.com/@csrlimitedkigalicsr">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- twitter -->
                    <div class="icon">
                        <a href="https://twitter.com/home?lang=en">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- linkedin -->
                    <div class="icon">
                        <a href="https://www.linkedin.com/company/comprehensive-staffing-resources-ltd/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <a href="{% url 'index' %}">
                    <button>Go back to home page</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}