{% extends 'base.html' %}
{% load static %}
{% block pageLinks %}
{% comment %} <link rel="stylesheet" href="{% static '/css/pages/navigation/nav-bar/nav-bar.css' %}">
<link rel="stylesheet" href="{% static '/css/pages/navigation/footer/footer.css' %}">
<link rel="stylesheet" href="{% static '/css/main.css' %}">
<link rel="stylesheet" href="{% static '/css/mobile.css' %}"> {% endcomment %}
<!-- finance and accounting styles -->
<link rel="stylesheet" href="{% static '/css/pages/finance-acc/finance-acc.css' %}">
<!-- mobile version -->
<link rel="stylesheet" href="{% static '/css/pages/finance-acc/mobile.css' %}">
{% endblock pageLinks %}

{% block content %}

<!-- header -->
{% include 'white-nav-bar.html' %}

<!-- hero section unique to this page -->
<!-- added row reverse -->
<section class="finance-acc-hero">
    <div class="container">
        <div class="row">
            <!-- first col -->
            <div class="col col-1">
                <h1 class="heading">Finance and Accounting Services</h1>
                <p class="hero-paragraph">We are fully committed to helping you succeed by performing the critical
                    accounting functions that keep you financially solved and compliant with financial regulations.
                </p>
                <a href="{% url 'contact' %}">
                    <button class="contact-btn">Get in touch</button>
                </a>
            </div>

            <!-- second col -->
            <div class="col col-2">
                <img src="{% static '/img/Illustration.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<!-- services section -->
<section class="services">
    <div class="container">
        <h1 class="heading">Our Services</h1>
        <p class="services-paragraph">Comprehensive Staffing Resources LTD
            is proud to be an accounting agency that helps business clients make sound financial decisions daily. We
            are fully committed to helping you succeed by performing the critical accounting functions that keep you
            financially solved and compliant with financial regulations.</p>
        <!-- first row -->
        <div class="row">
            <div class="col">
                <img src="{% static '/img/finance-acc-imgs/Frame 317.png' %}" alt="">
            </div>
            <div class="col">
                <h2 class="col-title">Accounting & book-keeping</h2>
                <p>Welcome to our accounting and bookkeeping services website. We specialize in providing reliable and
                    accurate financial services to help businesses manage their finances effectively. Our team of
                    experienced professionals is committed to providing personalized solutions to meet our clients'
                    unique needs. Contact us today to learn more about how we can help you streamline your financial
                    management and achieve your business goals.</p>
                <a href="{% url 'accounting-book-keeping' %}">
                    <button class="">Learn more</button>
            </a>
            </div>
        </div>

        <!-- second row -->
        <div class="row row-reverse">
            <div class="col">
                <h2 class="col-title">Controller Services</h2>
                <p>CSR recommends exceptional controller-level services passing through specialists that serve as
                    accounting minds and oversee the preparation of financial statements. Furthermore, to report
                    preparation, the controller service also includes observing internal controls, take part in the
                    budgeting process, analyzing financial data, and valuing.</p>
                <p>On or after supervision of accounting and bookkeeping processes to examining strategic goals to
                    assisting make sure compliance with established budgets and growth goals, controllers are the
                    influence that operate perfect financial health. CSR, our controller-level services provide
                    businesses with comprehensive accounting knowledge that also play another as a complete in-house
                    accounting department.</p>
                <a href="{% url 'controller-services' %}">
                    <button class="">Learn more</button>
                </a>
            </div>
            <div class="col">
                <img src="{% static '/img/finance-acc-imgs/Group.png' %}" alt="">
            </div>
        </div>

        <!-- third row -->
        <div class="row">
            <div class="col">
                <img src="{% static '/img/finance-acc-imgs/delivery baby.png' %}" alt="">
            </div>
            <div class="col">
                <h2 class="col-title">Financial Consulting</h2>
                <p>Our financial consulting service are designed to provide you with expert analysis and advice
                    regarding your company’s strategic decisions.</p>
                <p>As you consider exploring business opportunities, investments, and partnerships, it is important
                    to understand the short, medium, and long-term ramifications of your decisions.</p>
                <p>Our financial consulting services make it easy to understand the financial impact your decisions
                    will have on your company’s future.</p>
                <a href="{% url 'financial-consulting' %}">
                    <button class="">Learn more</button>
                </a>
            </div>
        </div>

        <!-- fourth row -->
        <div class="row row-reverse">
            <div class="col">
                <h2 class="col-title">Tax Preparation</h2>
                <p>Commercial tax preparation can be extremely complex. Records and submissions must be prepared
                    carefully to minimize your risk of unforeseen tax liabilities, fees, and penalties.</p>
                <p>Our team will work with you to prepare complete and accurate corporate fillings on a quarterly
                    and Annually basis.</p>
                <a href="{% url 'tax-preparation' %}">
                    <button class="">Learn more</button>
                </a>
            </div>
            <div class="col">
                <img src="{% static '/img/finance-acc-imgs/girl seeing video on virtual reality.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<!-- about summary section -->
<section class="about-summary">
    <div class="container">
        <h1 class="heading">CSR Limited is proud to be an accounting agency that helps business clients make sound
            financial decisions daily</h1>
        <p>An excellent seal of thought went into crafting a proposal for services that adequately meet your accounting
            needs, and we are confident that you will find precisely what you are looking for in this proposal.</p>
        <a href="{% url 'contact' %}">
            <button class="btn-blue btn-header">Get in touch</button>
        </a>
    </div>
</section>

<!-- footer -->
{% include 'footer.html' %}

<!-- JavaScript -->
<script src="{% static '/js/nav.js' %}"></script>
{% endblock content %}