{% load static %}

<link rel="stylesheet" href="{% static '/css/pages/navigation/nav-bar/nav-bar.css' %}">
<link rel="stylesheet" href="{% static '/css/pages/navigation/nav-bar/mobile.css' %}">

<header class="header" id="home">
    <div class="container">
        <!-- navbar -->
        <nav class="nav-header">
            <a href="/" class="brand">
                <img class="logo white-logo" src="{% static '/img/branding/logo-white.svg' %}" alt="">
                <img class="logo blue-logo" src="{% static '/img/branding/logo dark blue.png' %}" alt="">
            </a>
            <div class="nav-menu">
                <ul class="links">
                    <li class="link">
                        <a class="nav-link" href="{% url 'index' %}">home</a>
                    </li>
                    <li class="link">
                        <a class="nav-link" href="{% url 'about' %}">about us</a>
                    </li>
                    <li class="link">
                        <a class="nav-link" href="#" class="service-link">
                            services
                            <div class="open-dropdown">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        </a>
                        <div class="dropdown">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'finance-acc' %}">
                                        <i class="fas fa-chart-line"></i>
                                        <h3>Accounting Services</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'coming-soon' %}">
                                        <i class="fas fa-pencil-ruler"></i>
                                        <h3>Graphic Design</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'coming-soon' %}">
                                        <i class="fas fa-code"></i>
                                        <h3>Software Development</h3>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'social-media' %}">
                                        <i class="fas fa-share-alt"></i>
                                        <h3>Digital Marketing</h3>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="link">
                        <a class="nav-link" href="{% url 'gallery' %}">gallery</a>
                    </li>
                    <li class="link">
                        <a class="nav-link" href="{% url 'blogs' %}">news room</a>
                    </li>
                    <li class="link">
                        <a href="{% url 'contact' %}">
                            <button class="btn-blue btn-header">Get in touch</button>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="nav-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <div class="nav-close-btn">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
    </div>
    </nav>
</header>