{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="coming-soon">
    <div class="container dev-container">
        <div class="row">
            <div class="col col-1">
                <img class="logo" src="{% static '/img/branding/logo-white.svg' %}" alt="">
            </div>
            <div class="col col-2">
                <img class="logo" src="{% static '/img/branding/logo-blue.svg' %}" alt="">
                <h1>Thank you!</h1>
                <p>Thank you for reaching out to us. Our team will be in contact with you
                    as soon as possible. Feel free to reach out to us using any of below communication channel
                </p>
                <div class="coming-soon-contacts">
                    <!-- email -->
                    <div class="col-contacts">
                        <i class="fa fa-envelope"></i>
                        <a href="info@csrlimited.com">info@csrlimited.com</a>
                    </div>
                    <!-- phone -->
                    <div class="col-contacts">
                        <i class="fa fa-phone"></i>
                        <a href="info@csrlimited.com">+250791902159</a>
                    </div>
                </div>
                <!-- social media -->
                <div class="social-media">
                    <!-- facebook -->
                    <div class="icon">
                        <a href="https://www.facebook.com/profile.php?id=100086812094253&mibextid=LQQJ4d">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- instagram -->
                    <div class="icon">
                        <a href="https://www.instagram.com/csr.rw/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- youtube -->
                    <div class="icon">
                        <a href="https://www.youtube.com/@csrlimitedkigalicsr">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- twitter -->
                    <div class="icon">
                        <a href="https://twitter.com/home?lang=en">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- linkedin -->
                    <div class="icon">
                        <a href="https://www.linkedin.com/company/comprehensive-staffing-resources-ltd/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <a href="/">
                    <button>Go back to home page</button>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}