{% extends 'base.html' %}
{% load static %}

{% block pageLinks %}

<link rel="stylesheet" href="{% static '/css/pages/index/index.css' %}">
<link rel="stylesheet" href="{% static '/css/pages/index/mobile.css' %}">
{% endblock pageLinks %}

{% block content %}

{% include 'white-nav-bar.html' %}

<div style="height: 90vh; padding-top: 200px;">
    <h1 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reiciendis quis magni corporis nihil harum pariatur aperiam tenetur ad quaerat voluptas ipsum corrupti totam vitae recusandae, minus inventore fugit delectus!</h1>
</div>

{% include 'footer.html' %}

{% endblock %}