.tax-section{
    padding: 5rem 14rem;

    .tax-section-one{
        display: flex;
        column-gap: 3rem;
        div:first-child{
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            p{
                font-size: 16px;
            }
        }
        div:last-child{
            img{
                height: 35vh;
                width: 35vh;
            }
        }

    }
    .tax-section-two{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        margin-top: 2rem;
        p{
            padding: 2rem;
            background-color: #F1F2FF;
            font-size: 14px;
        }
    }
}